langchain
langchain-openai
langchain-community
langchain-ollama
langchain-postgres
langchain-text-splitters
pypdf
psycopg[binary]
python-dotenv
unstructured[pdf]
boto3
celery[redis]
fastapi
uvicorn[standard]